$highlight: #4a85d1;
$dark_highlight: #3966a0;

body, html{
	box-sizing: border-box;
	background: #AAA;
	background-image: url('../img/crossword.png');
	font-family: "proxima-nova", sans-serif;
}

*{
	box-sizing: inherit;
}

.error{
	color: red;
	border: 1px solid red;
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
}

.login{
	header{
		padding: 40px;
		min-height: 360px;
	
		section{
			background: white;
			color: #111;
			text-shadow: none;
			padding: 40px;
			text-align: left;
			
			div:nth-child(1){
				text-align: right;
			}
			
			div:nth-child(2){
				text-align: left;
			}
			
			img{
				margin-bottom: 40px;
			}
			
			h2{
				margin-bottom: 20px;
				padding: 0;
			}
			
			form{
				
				label{
					display: none;
				}
				
				input{
					display: block;
					margin: 20px 0;
					padding: 10px;
				}
				
				input:first-of-type{
					margin-top: 0;
				}
				
				input[type=submit]{
					background: $highlight;
					color: white;
					border: none;
					padding: 10px 20px;
				}
				
				input[type=submit]:hover{
					background: $dark_highlight;
				}
			}
		}
	}
}

header{
	background: #FFF;
	background-image: url('../img/clouds.jpg');
	background-position: center top;
	background-size: cover;
	min-height: 800px;
	text-align: center;
	color: #FFF;
	text-shadow: 0 0 15px rgba(0,0,0,.8);
	position: relative;
	z-index: 0;
	
	.darker{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.2);
		z-index: -1;
	}
	
	h1{
		font-size: 5em;
		margin: 0;
		z-index: 2;
		padding: 180px 40px 0 40px;;
	}
	
	h2{
		font-size: 1.8em;
		margin: 0;
		z-index: 2;
		padding: 0 40px;
	}
	
	nav{
		text-align: right;
		padding-top: 40px;
		z-index: 2;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		
		a{
			color: #fff;
			background: $highlight;
			padding: 10px 20px;
			text-decoration: none;
			margin: 0 10px;
			box-shadow: none;
		}
		
		a:hover{
			background: $dark_highlight;
		}
	}
	
	a.scrollDown{
		display: block;
		margin: 20px auto;
		height: 50px;
		width: 100%;
		background-image: url('../img/scrollDown_white_transparent.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
	}
	
	a.scrollDown:hover{
		background-image: url('../img/scrollDown_white.png');
	}
}

#application{
	section{
		box-shadow: 0 0 15px rgba(0,0,0,.2);
		position: relative;
		top: -150px;
		background: #fff;
		min-height: 500px;
		padding: 40px;
		text-align: center;
		
		img{
			margin-bottom: 20px;
		}
		
		a{
			color: $highlight;
		}
		
		a:hover{
			color: $dark_highlight;
		}
		
		h3{
			font-size: 2em;
			line-height: 2.4em;
			text-align: center;
			margin: 0;
		}
		
		form{
			margin: 30px auto;
			
			div{
				label{
					display: none;
				}
				
				input{
					display: block;
					width: 100%;
					padding: 10px;
					margin: 10px 20px 10px 0;
					border-radius: 0;
					-webkit-border-radius: 0;
				}
				
				input[name=address]{
					margin-bottom: -2px;
				}
				
				input[name=address_line2]{
					margin-top: 0;
				}
				
				.halfInput{
					margin: 0;
					
					input{
						width: 50%;
						display: inline-block;
						margin: 0;
						float: left;
					}
				}				
			}
			
			input[type=submit]{
				display: block;
				text-align: center;
				background: $highlight;
				border: none;
				color: #FFF;
				padding: 20px;
				margin: 30px auto 0;
			}
			
			input[type=submit]:hover{
				background: $dark_highlight;
			}
		}
		
		div{
			p{
				color: #888;
				padding: 0 5px;
				text-align: center;
			}
		}
		
		footer{
			padding: 30px 0;
			text-align: center;
		}
	}
}

.adminPanel{
	header{
		height: 100px;
		min-height: 0;
		background: $dark_highlight;
		color: white;
		text-shadow: none;
		text-align: left;
		
		h1{
			padding: 0 40px;
			margin: 0;
			font-size: 3em;
			line-height: 100px;
			display: inline-block;
			font-weight: 200;
		}
		
		a{
			display: inline-block;
			float: right;
			margin: 33px 40px 0 0;
			color: white;
			border: 1px solid white;
			padding: 5px 10px;
		}
		
		a:hover{
			background: $highlight;
		}
	}
	
	section{
		div.applications{
			border: 1px solid #888;
			border-top: none;
			padding: 0;
			max-height: 100%;
			overflow-y: scroll;
			background: white;
			
			h2{
				margin: 0;
				padding: 20px 40px;
				background: $highlight;
				color: white;
				font-weight: 200;
			}
			
			table{
				width: 100%;
				
				tbody{
					tr{
						line-height: 3em;
						border-bottom: 1px solid #888;
					
						td:first-of-type{
							padding: 0 0 0 40px;
							width: 70px;
						}
					}
					
					tr:hover{
						background: rgba(0,0,0,.2);
						cursor: pointer;
					}
				}
			}
		}
		
		div.app{
			background: white;
			min-height: 700px;
			display: block;
			
			$labelWidth: 160px;
			
			form{
				h2{
					margin: 50px 0 50px $labelWidth;
				}
				
				label{
					min-width: $labelWidth;
					float: left;
					clear: left;
					text-align: right;
					padding: 5px 20px 5px 0;
				}
				
				input{
					display: block;
					margin-bottom: 20px;
					padding: 5px;
					width: 268px;
				}
				
				input:after{
					content: '\A';
				    white-space: pre;
				}
				
				select{
					background: transparent;
					width: 268px;
					padding: 5px;
					font-size: 16px;
					line-height: 1;
					border: 1px solid #888;
					border-radius: 0;
					height: 34px;
					-webkit-appearance: none;
				}
				
				input[type=submit]{
					text-align: center;
					background: $highlight;
					border: none;
					color: #FFF;
					padding: 20px;
					margin: 50px 0 50px $labelWidth;
				}
				
				input[type=submit]:hover{
					background: $dark_highlight;
				}
			}
		}
	}
	
}

@media (screen and max-width: 970px){
	header{
		min-height: 600px;
		
		h1{
			padding-top: 40px;
			margin-bottom: 20px;
		}
	}
	
}

@media (screen and max-width: 768px){
	header{
		
		nav{
			position: relative;
			text-align: center;
			right: 0;
			
			a{
				margin: 0 10px;
			}
		}
		h1{
			font-size: 2.5em;
		}
		h2{
			font-size: 1.5em;
		}
		
		a.scrollDown{
			display: inline-block;
		}
	}
	
	#application{
		section{
			h3{
				font-size: 1.5em;
				line-height: 1.5em;
			}
		}
	}
	
	.login{
		header{
			section{
				div:nth-child(1){
					text-align: center;
				}
				
				div:nth-child(2){
					form{
						text-align: center;
						
						input{
							margin: 20px auto;
						}
						
						input:first-of-type{
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}